<ng-container [ngSwitch]="!!(taskId$|async)">
	<ng-container *ngSwitchCase="false">
		<div class="head">
			<h1>Новая заявка</h1>
			<button (click)="toClose()"><img src="/assets/images/close.png"></button>
		</div>

		<div class="container">
			<label>Название</label>
			<textarea class="name" #name_area (keyup)="name=name_area.value"></textarea>
			<label>Описание</label>
			<textarea class="description" #description_area (keyup)="description=description_area.value"></textarea>
			<button class="save" (click)="post(); name_area.value=''; description_area.value=''">Сохранить</button>
		</div>
	</ng-container>

	<ng-container *ngSwitchCase="true">
		<div *ngIf="(task$ | async) as task" class="root">
			<div class="header">
				<div class="id">№ {{task.id}}</div>
				<div class="name">{{task.name}}</div>
				<div class=close><button (click)="toClose()"><img src="/assets/images/close.png"></button></div>
			</div>

			<div class="container">
				<div class="left">
					<div class="left-main">
						<div class="description">
							<span>Описание</span>
							<p>{{task.description}}</p>
						</div>
						<div class="comment">
							<div>
								<textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Комментарий"></textarea>
							</div>
						</div>
					</div>
					<button class="save">Сохранить</button>

				</div>
				<div class="right">
					<div class="status">
						<div class="status-item">
							<div class="status-item-color"></div> 
						</div>
					</div>

				</div>
			</div>
		</div>
	</ng-container>
</ng-container>
