<!--The content below is only a placeholder and can be replaced.-->
<div class="menubox">
    <div class="menu" role="menu">

        <img class="logo" role="" src="/assets/images/logo.png" alt="logo">

        <a *ngFor="let entry of router_entrys" [routerLink]="[entry.path]" routerLinkActive="menu-active-item">
            <img src="/assets/images/{{entry.icon}}">
            <p>{{entry.name}}</p>
        </a>

    </div>
</div>

<div class="main" role="main">
    <router-outlet></router-outlet>
</div>