<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>

  <mat-sidenav mode="side" opened disableClose>

      <img class="logo" src="/assets/images/logo.png" alt="logo">

      <mat-nav-list>
            <a *ngFor="let entry of router_entrys" [routerLink]="[entry.path]" routerLinkActive="active-router-entry">
                <img src="/assets/images/{{entry.icon}}">
                <p>{{entry.name}}</p>
            </a>
      </mat-nav-list>
  </mat-sidenav>



  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
