<div class="search">
    <input type="text" placeholder="Введите Фамилию, Статус, Приоритет, Тег и т.д. чтобы найти заявки">
</div>

<div class="container">

    <div class="content">

        <button class="add_request" routerLink="/requests/add">Создать заявку</button>

        <cdk-table [dataSource]="tasks">

            <ng-container cdkColumnDef="priority">
                <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
                <cdk-cell *cdkCellDef="let task">
                    <div [ngStyle]='{"background-color":getPriorityRGB(task.priorityId)}'></div>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="id">
                <cdk-header-cell *cdkHeaderCellDef> ID </cdk-header-cell>
                <cdk-cell *cdkCellDef="let task"> {{task.id}} </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="name">
                <cdk-header-cell *cdkHeaderCellDef> Название </cdk-header-cell>
                <cdk-cell *cdkCellDef="let task"> {{task.name}} </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="status">
                <cdk-header-cell *cdkHeaderCellDef> Статус </cdk-header-cell>
                <cdk-cell *cdkCellDef="let task">
                    <div [ngStyle]='{"background-color": task.statusRgb}'>{{task.statusName}}</div>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="executorName">
                <cdk-header-cell *cdkHeaderCellDef> Исполнитель </cdk-header-cell>
                <cdk-cell *cdkCellDef="let task"> {{task.executorName}} </cdk-cell>
            </ng-container>

            <cdk-header-row *cdkHeaderRowDef="['priority', 'id', 'name', 'status', 'executorName']; sticky: true">
            </cdk-header-row>
            <cdk-row *cdkRowDef="let request; columns: ['priority', 'id', 'name', 'status', 'executorName']"
                [routerLink]="['/requests/edit', request.id]"></cdk-row>
        </cdk-table>

    </div>

    <div class="router_box">
        <router-outlet></router-outlet>
    </div>

</div>