@import '../tasks-style.scss';

.search {
  background-color: #d1e0ed;
  height: 65px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  box-sizing: border-box;
  padding: 0 17px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  box-shadow: 0px 0px 7px 0px rgba($color: #000000, $alpha: 0.2);
  & input {
    border: 1px solid #45abff;
    border-radius: 20px;
    width: 640px;
    margin: 20px, 0px;
    padding: 10px 20px;
    outline: none;
    background-image: url(/assets/images/search.png);
    background-repeat: no-repeat;
    background-position: 648px 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: inset 1px 0px 12px 0px rgba($color: #000000, $alpha: 0.07),
      0px 0px 7px 0px rgba($color: #008cf0, $alpha: 0.15);
  }
}

.container {
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.content, .router_box {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.add_task {
  @include btn(180px, 40px);
  margin-left: 262px;
  margin-top: 25px;
  margin-bottom: 11px;
}

cdk-table {
  display: block;
}

cdk-footer-row,
cdk-header-row,
cdk-row {
  display: flex;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}

cdk-header-row {
  border-bottom-color: #dae0e7;
  height: 50px;
  vertical-align: middle;
}

cdk-cell,
cdk-footer-cell,
cdk-header-cell {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  word-wrap: break-word;
  min-height: inherit;
}

.cdk-column-id {
  flex: 0 0 65px;
}

.cdk-column-name {
  flex: 0 0 403px;
}

.cdk-column-status {
  flex: 0 0 109px;
}

cdk-header-cell {
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
  font-weight: 500;
  color: #404147;
  padding-left: 15px;
}

cdk-header-cell.cdk-column- {
  &id,
  &name,
  &status {
    background-image: url(/assets/images/divider.png);
    background-repeat: no-repeat;
    background-position: right;
  }
}

cdk-row {
  border-bottom-color: #eef1f4;
}

cdk-cell {
  font-size: 16px;
  font-family: Roboto, serif;
  font-weight: 300;
  color: #525460;
  height: 54px;
  padding-left: 15px;
}
.cdk-column-status div {
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  height: 22px;
  border-radius: 11px;
  padding: 0px 11px;
}

.cdk-column-priority {
  padding-left: 3px;
  flex: 0 0 36px;
  div {
    width: 5px;
    height: 50px;
    border-radius: 2px;
  }
}

.form_box {
    position: absolute;
    box-sizing: border-box;
    background-color: #ecf3f7;
    top: 0;
    right: -975px;
    bottom: 0;
    width: 975px;
    z-index: 150;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    border-left: 1px solid rgb(215, 220, 224);
}


