<div class="search">
    <input type="text" placeholder="Введите Фамилию, Статус, Приоритет, Тег и т.д. чтобы найти заявки">
</div>

<div class="container">

    <div class="content">

        <button class="add_request" routerLink="/tasks/add">Создать заявку</button>

        <cdk-table [dataSource]="(service.getTasks()|async)" [trackBy]="trackByTaskId">

            <ng-container cdkColumnDef="priority">
                <cdk-header-cell *cdkHeaderCellDef></cdk-header-cell>
                <cdk-cell *cdkCellDef="let task">
                    <div [ngStyle]='{"background-color": task.priority.rgb}'></div>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="id">
                <cdk-header-cell *cdkHeaderCellDef> ID </cdk-header-cell>
                <cdk-cell *cdkCellDef="let task"> {{task.id}} </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="name">
                <cdk-header-cell *cdkHeaderCellDef> Название </cdk-header-cell>
                <cdk-cell *cdkCellDef="let task"> {{task.name}} </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="status">
                <cdk-header-cell *cdkHeaderCellDef> Статус </cdk-header-cell>
                <cdk-cell *cdkCellDef="let task">
                    <div [ngStyle]='{"background-color": task.status.rgb}'>{{task.status.name}}</div>
                </cdk-cell>
            </ng-container>

            <ng-container cdkColumnDef="executor">
                <cdk-header-cell *cdkHeaderCellDef> Исполнитель </cdk-header-cell>
                <cdk-cell *cdkCellDef="let task"> {{task.executor.name}} </cdk-cell>
            </ng-container>

            <cdk-header-row *cdkHeaderRowDef="['priority', 'id', 'name', 'status', 'executor']; sticky: true">
            </cdk-header-row>
            <cdk-row *cdkRowDef="let task; columns: ['priority', 'id', 'name', 'status', 'executor']"
                [routerLink]="['/tasks/edit', task.id]"></cdk-row>
        </cdk-table>

    </div>

    <div class="router_box" [@routerAnimations]="isOpen(outlet) ? 'open' : 'closed'">
        <router-outlet #outlet="outlet"></router-outlet>
    </div>

</div>